// MAIN
#home-page {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
}

.brief-introduction {
    width: 90%;
    padding: 20px 6% 1.87rem;
}

#name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.descriptive-profession {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 1.1rem;
    font-weight: 100;
    color: #424656;

    i {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    }

    .profession {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
        color: #2983F8;
    }
}

.short-objective {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.know-more-container {
    position: relative;
    margin-top: 5px;
}

.know-more-btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 1rem;
    background-color: #2983F8;
    padding: .5rem;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    
    a {
        color: white;
        text-decoration: none
    }

    &:hover {
        background-color: #0465e4;
    }
}

.fa-arrow-pointer {
    transform: rotate(55deg);
    position: absolute;
    left: 2.5rem;
    top: 1.5rem;
    color: #535353;
}

.project-direction {
    display: flex;
    padding: 50px 10%;
    font-size: 32px;
    color: white;
    height: 175px;

    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    }
}

.arrow-pointer {
    display: flex;
    align-items: end;
    margin-left: 20px;
}

.arrow {
    background-color: white;
    width: 3px;
    border-radius: 5px;

    &.center {
        height: 40px;
        margin: 0 -5px;
    }

    &.left {
        width: 20px;
        height: 3px;
        transform: rotate(45deg);
        margin-bottom: 5px;

    }

    &.right {
        @extend .left;
        transform: rotate(-45deg);
    }
}

.design-objects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    background: radial-gradient(circle at right, #2c4a71, black 80%);
}

.screen-sizes-image-container {
    width: 100%;
    max-width: 700px;
    height: auto;
    padding: 10px 10px 0 10px;
    bottom: 40px;
}

.screen-sizes-image {
    width: 100%;
    height: 100%;
}

//MARKETING QUESTIONS
.marketing-section {
    width: 100%;
    padding: 60px 0;
    background-color: #eceded;
}

.marketing-questions {
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 20px 0;
    border: 1px solid black;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0 0 5px -3px black;

    p {
        display: flex;
        flex-direction: column;
        margin: 0 40px;
        padding: 20px 0;
    }

    i {
        font-size: 4rem;
        margin-bottom: 5px;
    }
}

.fa-globe {
    color: #3b577d;
}

.fa-spinner {
    color: #a8a9aa;
}

.fa-bug {
    color: rgb(246, 71, 71);
}

//OFFER TO CONTACT
.contact-details-section {
    width: 100%;
    background-size: cover;
    color: white;
    text-shadow: 0 0 30px black;
    text-align: center;
}

.contact-details-background {
    width: 100%;
    padding: 60px 5% 15px;
    background-color: rgba(0, 0, 0, .5);
}

.contact-details-heading {
    font-size: 48px;
}

.contact-details {
    width: 200px;
    margin: auto;
    padding: 30px 20px 60px;

    .email-btn:hover {
        background-color: #2e568b;
    }
}

.btn-typ {
    display: block;
    width: 160px;
    margin: 5px auto 0;
    padding: 10px 0;
    border: none;
    background-color: #264772e0;
    letter-spacing: 1px;
    cursor: pointer;

    a {
        text-decoration: none;
        font-size: 1rem;
        color: white;
    }
}

@media screen and (min-width: 768px) {    
    .brief-introduction {
        width: 75%;
        padding: 20px 8% 1.87rem;
        font-size: 1.3rem;
    }

    .descriptive-profession {
        font-size: 1.3rem;
    }

    .short-objective {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .know-more-container {
        margin-top: 10px;
    }

    .know-more-btn {
        font-size: 1.1rem;
    }
}