//WEB-SKILLS
.web-skills {
    width: 100%;
    padding: 70px 5%;

    h1 {
        font-size: 40px;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
        padding: 5px;
        margin-bottom: 30px;
    }
}

.logo-placeholder-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo-placeholder {
    width: 80px;
    height: 80px;

    img {
        width: 100%;
        height: 100%;
    }
}