footer
    .footer-icons
        i.fa-brands.fa-github
        i.fa-brands.fa-codepen
        i.fa-brands.fa-facebook
        i.fa-brands.fa-linkedin
    .footer-line
    ul.nav-categories
        li Home
        li Projects
        li About
        li Contact
    .footer-line
    p.copyright © 2023 Jeric Chua
        br
        | Made with passion