header
    .logo-container
        img.logo-image(src='/img/jeric-portfolio-logo.png' alt='logo name' width='250px' height="102px")
    .header-interaction
        a.header-contact-link(href='contact') Contact
        .menu-button
            each div, index in ['', '', '']
                .line
nav
    .hidden-overlay
        p.one-time-reminder You may tap here to close the navigation
    .ul-wrapper
        i.fa-solid.fa-arrow-right.nav-close
        ul.categories
            each line, value in ['home', 'project', 'about', 'skills', 'contact']
                li.category-list(class=line + '-link')
                    -const upperCase = line.replace(line[0], line[0].toUpperCase())
                    a(class=line href=line)= upperCase