.main-contact-page {
    padding: 10% 0;
}

.map-placeholder {
    background: url("img/map.jpg") no-repeat content-box bottom;
    background-size: cover;
    margin: 0 10%;
    position: relative;

    h1 {
        padding: 50px 0;
        font-size: 64px;
        color: white;
        text-align: center;
    }
}

.contact-information {
    border: 1px solid #2983F8;
    margin: -90px 5% 0;
    border-radius: 20px;
    padding: 150px 10% 10%;

    .name {
        font-size: 1.1rem;
    }

    i {
        color: #424656;
    }

    .call-me-btn {
        background-color: green;
        margin: 20px auto 10px;

        &:hover {
            background-color: rgb(6, 167, 6);
        }
    }

    .email-btn:hover {
        background-color: #3d7bcb;
    }

    .email-address {
        word-break: break-all;
    }
}

.contact-information>* {
    margin-bottom: 10px;
}

.btn-typ {
    display: block;
    width: 160px;
    margin: 5px auto 0;
    padding: 10px 0;
    border: none;
    background-color: #264772e0;
    letter-spacing: 1px;
    cursor: pointer;


    a {
        text-decoration: none;
        font-size: 1rem;
        color: white;
    }
}

@media screen and (min-width: 768px) {
    .main-contact-page {
        padding: 10% 6%;
    }
}