extends ../layout.pug 

block page-content
    section.main-contact-page
        .map-placeholder: h1 Let's talk with your project
        .contact-information
            p.name
                i.fa-solid.fa-user 
                strong  Jeric Chua
            address
                i.fa-solid.fa-location-dot 
                |  Taclobo, Dumaguete City, Negros Oriental, Philippines 6200
            p.phone-number
                i.fa-solid.fa-phone
                |  +63 9287 687 628
            p.email-address
                i.fa-solid.fa-at
                |  worldhail41@gmail.com
            .buttons
                button.call-me-btn.btn-typ: a(href="tel:+639287687628") Call Me
                button.email-btn.btn-typ
                    a(
                    href="https://mail.google.com/mail/u/0/?view=cm&amp;fs=1&amp;tf=1&amp;source=mailto&amp;to=worldhail41@gmail.com"
                    target="blank") Send Email
    
    link(rel='stylesheet' type='text/css' href='css/contact.css')